pkgbase = murglar-desktop
	pkgdesc = Listen and download music from your favorite music services — VK, Yandex Music, SoundCloud, Deezer, Zvuk and WebDAV
	pkgver = 5.2.149
	pkgrel = 1
	url = https://github.com/badmannersteam/murglar-downloads
	arch = any
	license = custom
	depends = java-runtime
	noextract = Murglar-Desktop-5.2.149-all-platforms.jar
	source = https://github.com/badmannersteam/murglar-downloads/releases/download/Murglar-Desktop-5.2.149/Murglar-Desktop-5.2.149-all-platforms.jar
	source = murglar.png
	source = murglar-desktop.sh
	source = murglar-desktop.desktop
	sha256sums = f0cb5d4937bf19db6c6063ef203eeae30b571ec70d4f90da7d9134492ebb72d6
	sha256sums = 6ae9f55254656355cb2268d6d11ff268f0827d19bcfae217b616c04b7b7915bd
	sha256sums = 52cd65b6f7024d8e62f9ca76ad25d8743e9dc6e5f639834f856310ffb0a2023c
	sha256sums = 2747f8f58ca204e5e6fc4b96a70b502fa5ad77dde71e9b103c2aa6ea3042510e

pkgname = murglar-desktop
